@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source inline("text-[10px] text-[11px] text-[12px] text-[13px] text-[14px] text-[15px] text-[16px] text-[17px] text-[18px] text-[19px] text-[20px] text-[21px] text-[22px] text-[23px] text-[24px] text-[25px] text-[26px] text-[27px] text-[28px] text-[29px] text-[30px] text-[31px] text-[32px] text-[33px] text-[34px] text-[35px] text-[36px] text-[37px] text-[38px] text-[39px] text-[40px] text-[41px] text-[42px] text-[43px] text-[44px] text-[45px] text-[46px] text-[47px] text-[48px] text-[49px] text-[50px] text-[51px] text-[52px] text-[53px] text-[54px] text-[55px] text-[56px] text-[57px] text-[58px] text-[59px] text-[60px] text-[61px] text-[62px] text-[63px] text-[64px] text-[65px] text-[66px] text-[67px] text-[68px] text-[69px] text-[70px] text-[71px] text-[72px] text-[73px] text-[74px] text-[75px] text-[76px] text-[77px] text-[78px] text-[79px] text-[80px]");
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
